img {
    border: 2px solid blue;
    border-radius: 10px;
<<<<<<< Updated upstream
}

.hero p {
    font-size: 24px;
    color: red;
    text-decoration: underline;
}

.mission p {
=======

}

p {
>>>>>>> Stashed changes
    font-size: 24px;
    color: red;
    text-decoration: underline;
}